[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-cors = "*"
flask-marshmallow = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
